<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <base href="/">

    <!-- Title -->
    <title><% htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <accountant></accountant>
  </body>
</html>

